### Terraform ###
# Local .terraform directories
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Ignore all .tfvars files (likely to contain sensitive data)
# *.tfvars
# *.tfvars.json

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Transient lock info files created by terraform
.terraform.tfstate.lock.info

# CLI configuration files
.terraformrc
terraform.rc

# Optional: terraform plan output
*tfplan

# Optional: graph output
*.dot

# End Terraform